if SHIELD_PARKS_KEYPAD_DONGLE

config ZMK_KEYBOARD_NAME
    default "Park's Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif

if SHIELD_PARKS_KEYPAD_PERIPHERAL

config ZMK_KEYBOARD_NAME
    default "Park's Keypad"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif
